<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Django 연습하기</h1>
    <ul>
      <li>
        <!--(절대참조)localhost:8000/app/call1-->
        <!--(아래는 상대참조방식)-->
        <a href="call1">주소 호출하기</a>
      </li>
      <li>
        <a href="3">RESTful 주소 호출하기</a>
      </li>
      <li>
        <a href="call3?name=홍길동&age=20">쿼리스트링으로 주소 호출하기 </a>
      </li>
      <li>
        <a href="call4">서버에서 데이터 받아오기</a>
      </li>
      <li>
        <a href="call5">템플릿 태그 연습하기</a>
      </li>
      <li>
        <a href="call6">폼 태그 연습하기</a>
      </li>
      <li>
        <a href="call7">맘대로</a>
      </li>
    </ul>
  </body>
</html>
