<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>호출됐음!</h1>
    <!-- 템플릿 언어를 사용해서 context변수 안에 넣은 key로 데이터 표시-->
    <!-- 중괄호 두쌍 : 템플릿 언어이다...-->
    <!-- 스프링에서 model 객체에 attribute를 추가하면서 "키", "값"-->

    <p>{{ item }}</p>
    <p>{{ name }}</p>
    <p>{{ board_list }}</p>
    <!--my data라는 키의 딕셔너리 그 자체를 출력-->
    <p>{{ mydata }}</p>

    <!-- mydata.name-->
    <p>이름 : {{ mydata.name }}</p>
    <p>나이 : {{ mydata.age }}</p>
    <p>주소 : {{ mydata.address }}</p>

    <p>{{ board_list1 }}</p>
  </body>
</html>
