<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <h2>로그인</h2>
    <form method="post" action="" >
    {% csrf_token %}</form>
    <input type="text" name="userName" placeholder="아이디" />
    <input type="password" name="userPassword" placeholder="비밀번호" />
    <button type="submit" />로그인</button>
    <a href="../../coffee">뒤로가기</a>
  </body>
</html>
