<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>{{coffee.id}}</th>
      </tr>
      <tr>
        <th>{{coffee.order_date}}</th>
      </tr>
      <tr>
        <th>{{coffee.order_text}}</th>
      </tr>
      <tr>
        <th>{{coffee.price}}</th>
      </tr>
      <tr>
        <th>{{coffee.address}}</th>
      </tr>

      <a href="update/">수정</a
      >&nbsp;&nbsp;
      <a href="delete/">삭제</a
      >&nbsp;&nbsp;
      <a href="../../coffee">글 목록</a>
    </table>
  </body>
</html>
