<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[주문 수정하기]</title>
  </head>
  <body>
    <h1>[주문 수정하기]</h1>
    <form action="../../{{coffee.id}}/update/" method="post">
       {% csrf_token %}
      <table border="1">
        <tr>
          <th>주문내역</th>
          <td><input type="text" name="context" value="{{coffee.order_text}}" /></td>
        </tr>
        <tr>
          <th>가격</th>
          <td><input type="text" name="price" value="{{coffee.price}}" /></td>
        </tr>
        <tr>
          <th>주소</th>
          <td><textarea name="address" >{{coffee.address}}</textarea></td>
        </tr>
        
        <tr>
        <input type="submit" value="주문 수정하기" /></th>
        </tr>
      </table>
    </form>
  </body>
</html>
