<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>order</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
  </head>
  <body>
    <h1>주문</h1>
    <table border="1">
      <th>id</th>
      <th>주문일시</th>
      <th>주문내역</th>
      <th>개수</th>
      <!-- 리스트 내용 반복 -->
      {% for s in shopping_list%}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.orderdate | date:'Y/m/d H:i' }}</td>
        <td><a href="{{s.id}}">{{ s.item_name }}</a></td>
        <td>{{ s.item_count }}</td>
      </tr>
      {% endfor%}
    </table>
    <a href="add">주문하기</a>
    <form action="find_ordertext/" method="post">
      {%csrf_token%}
      <input type="radio" name="condition" value="all" checked="true" />주문내역
      검색 <input type="radio" name="condition" value="part" />주문내역 부분검색
      <input type="text" name="search_content" />
      <input type="submit" value="검색" />
    </form>
  </body>
</html>

{% comment %}
<form action="write_board/" method="POST">
  {%csrf_token%}
  <input type="submit" name="write" value="글쓰기" /> {% endcomment %}
</form>
