<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[영화 정보 수정하기]</title>
  </head>
  <body>
    <h1>[영화 정보 수정하기]</h1>
    <form action="../../{{movie.id}}/update/" method="post">
      {% csrf_token %}
      <table border="1">
        <tr>
          <td>&nbsp;&nbsp;&nbsp;장르</td>
          <td>
          <select name="genre">
            <option value="코미디">코미디</option>
            <option value="액션">액션</option>
            <option value="애니메이션">애니메이션</option>
          </select>
        </tr>
        <th>제목</th>
          <td><input type="text" name="title" /></td>
        </tr>
        <tr>
          <th>영화 설명</th>
          <td><textarea name="description" rows="4" cols="50"></textarea></td>
        </tr>   
        
        <tr>
        <input type="submit" value="정보 수정하기" /></th>
        </tr>
      </table>
    </form>
  </body>
</html>
