<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>review board</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
</head>
<body>
    <h1>영화 리뷰 게시판</h1>    
    {% if movie_list %}
    <table border="3">
    <th>번호</th>
    <th>장르</th>
    <th>제목</th>
    <th>리뷰 수</th>
    {% for m in movie_list %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.genre }}</td>
        <td><a href="{{m.id}}">{{ m.movie_name }}</a></td>
        <td>{{ m.review_set.count }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>영화 정보가 없습니다.</p>
    {% endif %}
    <a href="add">영화 등록하기</a>
    
    
</body>
</html>