<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 정보</title>
</head>
<body>
    <h1>[{{ movie.movie_name }}]에 대한 정보입니다</h1>
    <form action = "../{{movie.id}}/update/" method="get">
        <table>
            <tr>
                <th>장르</th>
                <td>{{movie.genre}}</td>
            </tr>
            <tr>
                <th>영화 설명</th>
                <td>{{movie.movie_summary}}</td>
            </tr>
            <tr>
                <th>관객 평점</th>
                <td></td>
            </tr>
        </table>
        <br>
        <input type="submit" value= "영화정보수정">
    </form>  
    <h1>[{{ movie.movie_name }}] 관객 리뷰</h1>
        

        
</body>
</html>