<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <form action="{%url 'common:login' %}" method="post">
        {% csrf_token %}
        <!-- 로그인 성공 후 이동할 URL -->
        <!-- 
        hidden 태그 next의 value로 next를 사용하면
        주소의 쿼리스트링에 있던 ?next=주소로 이동
        value로 특정 문자열을 사용하면 해당하는 주소로 이동
        -->
        <input type="hidden" name="next" value="{{next}}" >
        <!-- 아이디와 비밀번호를 입력받는 폼-->
        <!-- 로그인 버튼 -->
        로그인<br>        
        <input type="text" name="username" placeholder="아이디" /><br>
        <input type="password" name="password" placeholder="비밀번호" />
        <button type="submit" />로그인</button>
</form>
</body>
</html>