<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>템플릿 태그 연습</h1>
    <!-- if문 -->
    <!-- 중첩 if문도 사용할 수 있다.-->
    <!-- endif가 없으면 조금 많이 곤란하다ㅠ-->
    {% if list %}
    <p>리스트가 있습니다.</p>
    {% else %}
    <p>리스트가 없습니다.</p>
    {% endif %} {% if number > 0 %}
    <p>0보다 큰 수 입니다.</p>
    {% elif number < 0 %}
    <p>0보다 작은 수 입니다.</p>
    {% else %}
    <p>0입니다.</p>
    {% endif %}

    <!--템플릿 태그 for-->
    {% for s in list %}
    <p>과일 이름 : {{ s }}</p>
    {% endfor %}

    <table border="1">
      {% for s in list%}
      <tr>
        <th>{{ s }}</th>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
