{% extends 'common/base.html' %}
{%block title%}[글 수정하기]{%endblock title%}
{%block body%}
    <script>
      function validateFile(){
        let file = document.getElementById("uploadFile");
        console.log(file.value);
        
        //첨부파일이 있었는데 수정하면서 없을 때
        if ('{{ board.original_file_name }}' !== "" && file.value === ""){
          let go = confirm("파일 첨부x. 계속할겨?");
          if(go == true) {
            return true;
          }else {
            return false;
          }
        }

        
      }
    </script>
    <h1>[글 수정하기]</h1>
    <form action="{%url 'board:update' board.id %}" method="post" enctype = "multipart/form-data" onsubmit = "return validateFile();">
       {% csrf_token %}
      <table border="1">
        <tr>
          <th>제목</th>
          <td><input type="text" name="title" value="{{board.title}}" /></td>
        </tr>
        <!-- 필요없어서 지움
          <tr>
          <th>글쓴이</th>
          <td><input type="text" name="writer" value="{{board.writer}}" /></td>
        </tr>
      -->
        <tr>
          <th>내용</th>
          <td><textarea name="content" value="{{board.content}}"></textarea></td>
        </tr>
        
        <tr>
          <th>첨부파일</th>
          <td>
              현재 첨부파일 :
              {% if board.original_file_name %} {{board.original_file_name}}
              {% else %} 없음 {% endif %}            
              <input type = "file" name = "uploadFile" id="uploadFile" value="{{board.original_file_name}}" />            
          </td>
        </tr>
        
        <tr>
        <input type="submit" value="글 수정하기" /></th>
        </tr>
      </table>
    </form>
    {%endblock body%}