    {% extends 'common/base.html' %}
    {%block title%}[글쓰기]{%endblock title%}
  
  {%block body%}
    <h1>[글쓰기]</h1>
    <!-- 상위 디렉토리로 이동한 후에 write/ 호출-->
    <form action="{%url 'board:write'%}" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
      <table>
        <tr>
          <th>제목</th>
          <td><input type="text" name="title" /></td>
        </tr>
        <!--세션에 writer가 없으면 해당 tr 표시됨-->
        <!--세션에 writer가 있으면 해당 tr 표시 안됨-->
        
        <!-- 필요없어서 지움
          {% if not request.session.writer %}
        <tr>
          <th>글쓴이</th>
          <td><input type="text" name="writer" /></td>
        </tr>
        {% endif %}
      -->

        <tr>
          <th>내용</th>
          <td><textarea name="content"></textarea></td>
        </tr>
        <tr>
          <th>파일첨부</th>
          <td><input type="file" name="uploadFile"/></td>
        </tr>

        <tr>
        <input type="submit" value="글쓰기" /></th>
        </tr>
      </table>
    </form>
 {%endblock body%}
