 {% extends 'common/base.html' %}
    {%block title%}[글 목록]{%endblock title%}
    
    {%block body%}
    <table border="1">
      <tr>
        <th>{{board.id}}</th>
      </tr>
      <tr>
        <th>{{board.title}}</th>
      </tr>
      <tr>
        <th>{{board.content}}</th>
      </tr>
      <tr>
        <th>{{board.wrtite}}</th>
      </tr>
      <tr>
        <th>{{board.input_date}}</th>
      </tr>
      <tr>
        <th>{{board.view_count}}</th>
      </tr>

      <a href="{%url 'update' board.id %}">수정</a
      >&nbsp;&nbsp;
      <a href="{%url 'delete' board.id %}">삭제</a
      >&nbsp;&nbsp;
      <a href="{%url 'index'%}">글 목록</a>
    </table>
    {%endblock body%}
