<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>{{board.id}}</th>
      </tr>
      <tr>
        <th>{{board.title}}</th>
      </tr>
      <tr>
        <th>{{board.content}}</th>
      </tr>
      <tr>
        <th>{{board.wrtite}}</th>
      </tr>
      <tr>
        <th>{{board.input_date}}</th>
      </tr>
      <tr>
        <th>{{board.view_count}}</th>
      </tr>

      <a href="../update_board{{b.id}}">수정</a>
      <a href="../delete_board/{{board.id}}">삭제</a>
      <a href="../../board">글 목록</a>
    </table>
  </body>
</html>
