 {% extends 'common/base.html' %}
    {% block title %}[글 목록]{% endblock title %}
  
  {% block body %}
  <table border="1">
    <tr>
      <th>{{board.id}}</th>
    </tr>
    <tr>
      <th>{{board.title}}</th>
    </tr>
    <tr>
      <th>{{board.content}}</th>
    </tr>
    <tr>
      <th>{{board.wrtite}}</th>
    </tr>
    <tr>
      <th>{{board.input_date}}</th>
    </tr>
    <tr>
      <th>{{board.view_count}}</th>
    </tr>
    {% if board.original_file_name %}
    <tr>
      <th>첨부파일</th>
      <td colspan = "3">
        <!-- /board/0/download/ -->
        <a href="{% url 'board:download' id=board.id %}">{{ board.original_file_name }}</a>
      </td>
    </tr>
    {% endif %}
  <script>
    function showUpdateForm(param){
      //.../board/0/update_reply?rid=0
      //location.href='update_reply?rid=' + param;
      //글쓰기창 숨기기
      $("#writeForm").hide();
      //댓글쓰기 창 보여주기
      $("#updateForm").show();

      $.ajax({
        url: '{% url "board:update_reply" id=board.id %}',
        type: 'get',
        data: {'rid' : param},
        success: function(res){
            console.log(res);
            //폼요소.val = 해당하는 폼 요소에 들어있는 값을 가져올 수 있다.
            //폼요소.val(문자열) = 문자열을 해당 폼 요소에 지정할 수 있다.
            // 1. 수정 입력창에 댓글 내용 표시
            $("#replyTextUpdate").val(res.replyText);

            // 2. rid라는 id를 가진 hidden 태그에 값 설정
            $("#rid").val(param);
        }
      });
    }

    function writeReply(){
      //alert("여기는 writeReply")
      
      //1. textarea에 쓴 문자열 가져오기
      
      let replyText = $("#replyTextWrite").val();  //문자열 가져오기

      if(replyText.length ===0){
        alert("댓글을 입력할 수 없습니다");
        return;   //실행을 바로 멈춘다.
      }  
      
      let data = { 'replyText' : replyText }

      $.ajax({
        url: '{% url "board:write_reply" id=board.id%}',
        type: 'post',
        data: JSON.stringify(data),
        headers: { 'X-CSRFTOKEN' : '{{ csrf_token }}'},
        success: function(result){
          //console.log(result);
          //댓글창 초기화
          $("#replyTextWrite").val("");
          loadReplyList();

        }
      });
    }

      $(document).ready(function() {
        //1. 수정 폼 숨기기
        $("#updateForm").hide();

        //2. 버튼에 이벤트 달기
        $("#btnWrite").click(function(){
          //alert("여기는 write");
          writeReply();
        });
        loadReplyList();
        //3. 수정하기 버튼에 이벤트 달기
        $("#btnUpdate").click(function(){
          //alert("여기는 update");
          updateReply();
        });
        
      });
    function updateReply(){
      let replyText = $("#replyTextUpdate").val();
      let rid = $("#rid").val();

      console.log(replyText);

      let data = {
        'rid' : rid,
        'replyText' : replyText
      };

      $.ajax({
        url: '{% url "board:update_reply" id=board.id %}',
        type: 'post',
        data: JSON.stringify(data),   //객체를 문자열화
        headers: { 'X-CSRFTOKEN' : '{{csrf_token}}' },
        success: function(res) {
          console.log(res);
          $("#replyTextUpdate").val("");
          $("#updateForm").hide();
          $("#writeForm").show();
          loadReplyList();
        }
      });
    }

    function deleteReply(param) {
      let data = {'rid' : param};

      $.ajax({
        url: '{% url "board:delete_reply" id=board.id %}',
        type: 'post',
        data: JSON.stringify(data),
        headers: { 'X-CSRFTOKEN' : '{{csrf_token}}' },
        success: function() {
          // 댓글이 삭제가 완료 되면
          // 댓글 목록 다시 불러옴
          loadReplyList();
        }
      });
    }
    


    function loadReplyList() {
      $.ajax ({
        url: '{% url "board:load_reply" id=board.id %}',
        type: 'get',
        success: function(res){
            //console.log(res);
            let str = "<table>";
            $.each(res.replyList, function(index, item){
              //inputDate에 있는 필요없는 문자열들을 삭제
              let replacedDate = item.inputDate.replace("T", " ").replace("Z", "").split(".")[0]
              
              for (let i = 0; i < replacedDate.length; i++){

                if (replacedDate.charAt(i) === '-'){   //i번째 문자가 '-'  이면
                  replacedDate = replacedDate.replace("-", "/");  //"-"를 "/" 바꾼다
                }
                
              }
              str += "<tr>";
              str += "<td>" + item.replyText + "</td>";
              str += "<td>" + item.username +"</td>";              
              str += "<td>" + replacedDate +"</td>";
              str += "<td>"
              if ('{{ user.username}}' === item.username ){
                str += "<a href = '#' onclick = 'showUpdateForm(" +item.id + ")'>수정</a>";               
                str += "<a href = '#' onclick = 'deleteReply(" +item.id + ")'>삭제</a>";               
              
              }
              str += "</td>"              
              str += "</tr>";

            });
            str += "</table>"

            $("#replyList").html(str);
                      
          }
        });        
    }

    
    
    </script>


      <!-- username끼리 비교하려면-->
      {% if board.author.username == user.username %}
      {% if user.is_authenticated %}
        <a href="{%url 'board:update' board.id %}">수정</a
        >&nbsp;&nbsp;
        <a href="{%url 'board:delete' board.id %}">삭제</a
        >&nbsp;&nbsp;
      {% endif %}
      {% endif %}
      <div id = "replyArea">
        <div id = "replyList">
          <!--댓글 목록 표시-->
          <!-- board 객체 뿐만 아니라 board와 FK로 엮인 객체는-->
          <!-- board.모델이름_set으로 가져올 수 있다.-->
          
        </div>
        <div>
          <!--댓글 입력 폼 표시-->
          <div id = "replyForm">
            <div id = "writeForm"><!--글쓰기 폼-->
              <textarea name ="replyText" id="replyTextWrite"></textarea>
              <input type = "button" value="댓글쓰기" id="btnWrite" onclick= "return validateReply(this);"/>
            </div>
            <div id = "updateForm">
              <form action ="{% url 'board:update_reply' board.id %}" method = "post">
                <input type="hidden" name="rid" value="" id = "rid" />
                <textarea name ="replyText" id = "replyTextUpdate" onclick="return validateReply(this);"></textarea>
                <input type = "button" value="댓글수정" id="btnUpdate"/>
              </form>
            
          </div>
          
        </div>
      </div>
      <!-- board.author는 user하고 비교한다 -->
      <a href="{%url 'board:index'%}">글 목록 </a>
    </table>
    {% endblock body %}
