<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>친구 정보 수정</h1>
    <form action="../../update_friend/{{friend.id}}/" method="post">
      {%csrf_token%} 이름 :
      <input
        type="text"
        name="friend_name"
        value="{{friend.friend_name}}"
      /><br />
      나이 :
      <input
        type="text"
        name="friend_age"
        value="{{friend.friend_age}}"
      /><br />
      친구소개 :
      <textarea cols="50" rows="3" name="friend_bigo">
{{friend.friend_name}}</textarea
      >
      <br />
      <input type="submit" value="수정" />
    </form>
  </body>
</html>
