<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상세 정보</h1>
    <table border="1">
      <th>id</th>
      <th>주문일시</th>
      <th>주문내역</th>
      <th>개수</th>
      
      <tr>
        <td>{{Order.id}}</td>
        <td>{{Order.orderdate}}</td>
        <td>{{Order.item}}</td>
        <td>{{Order.quantity}}</td>
      </tr>
      <br>
    </table>
      

      <a href="update/">수정</a
      >&nbsp;&nbsp;
      <a href="delete/">삭제</a
      >&nbsp;&nbsp;
      <a href="../../">글 목록</a>
    </table>
  </body>
</html>
